---
import { getCollection } from 'astro:content';

import MainLayout from '@/layouts/MainLayout.astro';
import { siteConfig } from '@/config/site-config';
import BlogPost from '@/components/blog/BlogPost.astro';

const blogPosts = await getCollection(
	'blog',
	post => post.data.isDraft === false
);
---

<MainLayout
	title={siteConfig.title}
	description={siteConfig.description}
>
	<section class='bg-white dark:bg-gray-900'>
		<div class='container mx-auto px-6 py-10'>
			<h1
				class='mb-2 text-3xl font-semibold capitalize text-gray-800 lg:text-4xl dark:text-white'
			>
				{siteConfig.title}
			</h1>

			<a
				href='/blog/1'
				class='mr-2'
				>Blog paginado</a
			>
			<a
				href='/authors'
				class='mr-2'
				>Autores</a
			>

			<div class='mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2'>
				{blogPosts.map(post => <BlogPost post={post} />)}
			</div>
		</div>
	</section>
</MainLayout>

<style>
	a {
		@apply text-blue-500 hover:underline;
	}
</style>
